name: config update

on:
  push:
    branches:
      - main
    paths:
      - config.json

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/github-script@v2
      with:
        github-token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
        script: |
          const fs = require('fs').promises
          const config = JSON.parse(await fs.readFile('./config.json'))
          await github.users.updateAuthenticated(config.user)
