name: Quote of the Day

on:
  workflow_dispatch:
  schedule:
    - cron: "11 2 * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: siddharth2016/quote-readme@main
        with:
          COMMIT_MESSAGE: "chore: update quote of the day [skip ci]"
          OPTION: funfact
